/* Write your CSS here */
/* Write your CSS here */
.team-matches-container {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.team-banner-img {
  width: 90vw;
  height: 40vh;
  border-radius: 5px;
}
.row-container {
  display: flex;
  margin: 10px;
}
