/* Write your CSS here */
.latest-match-container {
  display: flex;
  flex-direction: column;
}
.latest-matches-heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  align-self: flex-start;
  font-size: 10px;
}
.latest-match-item {
  display: flex;
  background-color: #1e293b;
  width: 90vw;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 60vh;
}
.first-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.competing-team {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: none;
}
.venue {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 100;
}
.middle-container {
}
.competing-img {
  height: 30vh;
}
.last-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.heads {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 100;
  font-size: 18px;
}
.heads-content {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 100;
  font-size: 14px;
  margin: 0px;
}
